*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --dourado:#b28756;
    --hover-gray:#ccc;
    --courtain-black:#000000bb;
    --section-desc-gray:#a8a8a8;
}

body{
    font-family:'Montserrat', Arial, sans-serif;
    font-size:15px;
}

.flex{
    display:flex;
}

.container{
    width:70%;
    max-width:1140px;
    height: 100%;
    margin:0 auto;
    
    justify-content: center;
    align-items: center;
}

/*HEADER*/

header{
    width:100%;
    height: 100px;
    background-color:#000;

    align-items:center
}

header div.logo-area, header div.menu-area{
    align-items:center;
}

header div.logo-area{
    width:50px;
    height: 100%;
}

header div.logo-area div.logo-img{
    width:100%;
    height: 50px;
    background-color: var(--dourado);
    border-radius:20px;
}

header div.menu-area{
    height: 100%;
    padding-left:50px;

    flex:1;
    justify-content: flex-end;
}

header div.menu-area nav.menu{
    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
}

header ul.menu-list{
    width:100%;
    height: 100%;
    list-style:none;

    justify-content: space-around;
}

header li.menu-list-item{
    height:100%;
    padding: 0 10px;

    align-items:center;
}

header a.menu-list-item-link{
    width:100%;
    height:100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    font-size: 0.85rem;
    font-weight: 600;

    align-items: center;
    justify-content: center;
}

header a.menu-list-item-link.active, header a.menu-list-item-link:hover{
    border-bottom: 4px solid var(--dourado);
    color: var(--hover-gray);
}


main{
    width:100%;
}

/*BANNER*/
section#home{
    height: calc(100vh - 100px);
    background-color:var(--dourado);
    background-image:url('../../media/bg.jpg');
    background-size:cover;
    background-position:bottom;
    overflow: hidden;
}

article.home-slider{
    width: 300vw;
    height: 100%;
    background-color:var(--courtain-black);
    display: flex;
    flex-direction: row;
}

div.home-slider-slide{
    width: 100vw;
    height: 100%;
} 

div.home-slider-slide-area{
    height: 100%;
    text-transform:uppercase;
    color: #fff;
    text-align: center;

    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

div.home-slider-slide-area h2{
    font-size:3.5rem;
}

div.home-slider-slide-area h2 span{
    color:var(--dourado);
}

div.home-slider-slide-area h2 span.active{
    animation: opacitySpan 2s forwards;
}

@keyframes opacitySpan{
    0%{
        opacity: 0%;
        transform: scale(2);
    }
    100%{
        opacity:100%;
        transform: scale(3);
    }
}


div.home-slider-slide-area p{
    font-size:1.25rem;
    font-weight: 600;
    margin:15px 0 40px 0;
}

div.home-slider-slide-area button{
    text-transform:uppercase;
    font-family:'Montserrat', Arial, sans-serif;
    font-size:0.85rem;
    font-weight: 600;
    background-color:var(--dourado);
    color:#fff;
    padding: 10px 45px;
    outline:none;
    border:none;
    border-radius:25px;
    cursor:pointer;
}

div.home-pointer{
    width:100%;
    height: 20px;

    position: absolute;
    bottom: 100px;

    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

div.home-pointer-point.active{
    background-color: var(--dourado);
}

div.home-pointer-point{
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin: 0 5px 0 5px;
    border:2.5px solid var(--dourado);
    cursor:pointer;
}

/*RESPONSIVE MEDIA QUERIES*/

@media screen and (max-width:1460px){
    .container{
        width: 85%;
        max-width: 1200px;
    }
    header a.menu-list-item-link{
        font-size: 0.75rem;
    }
}

@media screen and (max-width:1024px){
    .container{
        width:90%;
        max-width:900px;
    }
}

@media screen and (max-width:950px){
    .container{
        width:80%;
    }
    header div.menu-area nav.menu{
        display: none;
    }
    /*Fazer posicionamento do menu mobile*/
}

/*SECTIONS*/

section.def-section{
    text-transform:uppercase;
    text-align:center;
    padding: 40px 0;
}

section.def-section div.container{
    flex-direction: column;
}

h3.def-section-title-h3{
    font-size:1.5rem;
    margin-bottom:7.5px;
}

p.def-section-title-desc{
    font-size:0.75rem;
    color: var(--section-desc-gray);
    font-weight: 600;
}

div.def-section-content{
    width: 100%;
    height: 500px;
    background-color: brown;
    margin: 30px;
}
