*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --dourado:#b28756;
    --hover-gray:#ccc;
    --courtain-black:#000000bb;
    --section-desc-gray:#a8a8a8;
    --bcg-gray:#dfdfdf;
}

body{
    font-family:'Montserrat', Arial, sans-serif;
    font-size:15px;
}

.flex{
    display:flex;
}

.container{
    width:70%;
    max-width:1140px;
    height: 100%;
    margin:0 auto;
    
    justify-content: center;
    align-items: center;
}



main{
    width:100%;
}

/*RESPONSIVE MEDIA QUERIES*/

@media screen and (max-width:1460px){
    .container{
        width: 85%;
        max-width: 1200px;
    }
    header a.menu-list-item-link{
        font-size: 0.75rem;
    }
}

@media screen and (max-width:1024px){
    .container{
        width:90%;
        max-width:900px;
    }
}

@media screen and (max-width:950px){
    .container{
        width:80%;
    }
    header div.menu-area nav.menu{
        display: none;
    }
    /*Fazer posicionamento do menu mobile*/
}


